.slider {
	margin: 0 auto;
  }
  
  .slide_viewer {
	padding-top: 63px;
	height: calc(100vh - 163px);
	overflow: hidden;
	position: relative;
  }
  
  .slide_group {
	height: 100%;
	position: relative;
	width: 100%;
  }
  
  .slide {
	display: none;
	height: 100%;
	position: absolute;
	width: 100vw;
  }

  .slide img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	margin: 0 auto;
	display: block;
  }
  
  .slide:first-child {
	display: block;
  }
  
  .slide_buttons {
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
  }
  
  a.slide_btn {
	color: #474544;
	font-size: 42px;
	margin: 0 0.175em;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
	color: #1A5EA9 !important;
	cursor: pointer;
  }
  
  .directional_nav {
	margin: 0 auto;
	height: 65px;
	position: relative;
	bottom: calc(50vh - 63px);
  }
  
  .previous_btn {
	bottom: 0;
	left: 80px;
	margin: auto;
	position: absolute;
	top: 0;
  }
  
  .next_btn {
	bottom: 0;
	margin: auto;
	position: absolute;
	right: 80px;
	top: 0;
  }
  
  .previous_btn, .next_btn {
	cursor: pointer;
	height: 65px;
	opacity: 0.5;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
	width: 65px;
  }
  
  .previous_btn:hover, .next_btn:hover {
	opacity: 1;
  }
  
  @media only screen and (max-width: 767px) {
	.previous_btn {
	  left: 30px;
	}
	.next_btn {
	  right: 30px;
	}
  }