/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
	background: #fff !important;
}

#team .btn-primary:hover,
#team .btn-primary:focus {
	background-color: #108d6f;
	border-color: #108d6f;
	box-shadow: none;
	outline: none;
}

#team .btn-primary {
	color: #fff;
	background-color: #007b5e;
	border-color: #007b5e;
}
/*
section {
	padding: 60px 0;
}
*/
section .section-title {
	text-align: center;
	/*color: #007b5e; */
	margin-bottom: 30px; 
	/* text-transform: uppercase; */
}



#team .card {
	border-color: rgb(88, 140, 213);
	background: #e0d4d4;
	box-sizing: border-box;
	height: 350px;
	
}

.frontside {
	position: relative;
	z-index: 2;
	margin-bottom: 30px;
	margin-left: 20px;
	
}

.frontside .card {
	min-width: 340px;
	max-width: 340px;
	
}

.card-body {
	padding: 45px;
}

.card-body h4 {
	margin-bottom: 2px;
}

/*
.frontside .card .card-title,
.backside .card .card-title {
	color: #007b5e !important;
}
*/
.frontside .card .card-body img {
	width: 160px;
	height: 160px;
	border-radius: 50%;
    object-fit: cover;
	object-position: center;
	transform: scale(1.2);
	margin-bottom: 15px;
}

.hidden-text{
	visibility: hidden;
}

.altKurullar .card-body {
	color: #162447;
}

#team h4 {
	font-family: "Open Sans";
	color: #1b1b2f;
}

.row {
	justify-content: center;
}